/* ПЕРЕМЕННЫЕ */
:root {
    --width-content: 90vw;
    --white-color: #DCDCDC;
    --black-color: #222222;
    --gray-color: #444444;
    --blue-color: #3399FF;
}

/* ШРИФТЫ */
@font-face {
    font-family: "MontserratB";
    src: url(../font/MontserratB.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MontserratR";
    src: url(../font/MontserratR.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MontserratL";
    src: url(../font/MontserratL.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/* ОБЩИЕ СВОЙСТВА */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: MontserratL, sans-serif;
    line-height: 150%;
    letter-spacing: 1px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white-color);
    background-color: var(--gray-color);
}

main {
    flex: 1;
}

section {
    margin-bottom: 100px;
}

header nav,
section,
.footer-container {
    width: var(--width-content);
    margin-left: auto;
    margin-right: auto;
}

.link {
    width: fit-content;
    text-align: center;
    color: var(--white-color);
    font-size: 1.5rem;
    font-family: MontserratR;
    transition: color 0.3s linear;
}

.header-mobile-content .link {
    background: var(--gray-color);
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    text-align: center;
}

.link:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s linear;
    border-radius: 30px;
    padding: 10px;
}

.link:has(img):hover,
.link:has(img):focus {
    background-color: var(--blue-color);
}

.link img {
    height: 40px;
}

.link:hover,
.link:focus {
    color: var(--blue-color);
}

.black-button {
    color: var(--black-color);
    background-color: var(--white-color);
    font-family: MontserratR;
    border-radius: 20px;
    cursor: pointer;
    padding: 22px 44px;
    font-size: 1.5rem;
    transition: background-color 0.3s linear, color 0.3s linear, box-shadow 0.3s linear;
}

.black-button:hover,
.black-button:focus {
    color: var(--blue-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: var(--gray-color);
}

.black-title {
    width: 100%;
    font-size: 3.5rem;
    font-family: MontserratB;
    text-align: center;
    margin: 0 auto;
}

.main-container > *,
.about-container > *,
.gallery-container > *:not(.gallery-loader),
.price-container > *,
.comments-container > *,
.form-container > *,
.footer-container > * {
    opacity: 0;
}

.fade-in:not(.gallery-loader) {
    animation: fadeIn 0.75s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ШАПКА */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--black-color);
}

header nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 30px;
}

.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-mobile-burger {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.header-mobile-burger.open span:nth-of-type(1) {
    transform: rotate(-45deg);
}

.header-mobile-burger.open span:nth-of-type(2) {
    opacity: 0;
}

.header-mobile-burger.open span:nth-of-type(3) {
    transform: rotate(45deg);
}

.header-mobile-burger span {
    display: block;
    width: 58px;
    height: 3px;
    background-color: var(--white-color);
    transition: transform 0.3s linear, opacity 0.3s linear;
}

.header-mobile-burger span:nth-of-type(1) {
    transform-origin: right top;
}

.header-mobile-burger span:nth-of-type(3) {
    transform-origin: right bottom;
}

.header-mobile-content {
    overflow-y: scroll;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    transform: translateX(-3%);
    background-color: var(--black-color);
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 100px);
    opacity: 0;
    transition: opacity 0.3s linear;
    gap: 20px;
    padding: 20px 0;
}

/* ГЛАВНАЯ */
.main {
    width: 100%;
    min-height: 400px;
    height: calc(100vh - 100px);
    max-height: 1920px;
    overflow: hidden;
    position: relative;
}

.main-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../img/main/bg.png) no-repeat center / cover;
    animation: puls 5s infinite alternate linear;
    z-index: -10;
}

@keyframes puls {
    from {
        filter: brightness(0.5) blur(20px);
    }
    to {
        filter: brightness(0.5) blur(0px);
    }
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.main-title {
    width: 90%;
    font-size: 5rem;
    font-family: MontserratB;
    text-align: center;
}

.main-text {
    width: 90%;
    font-size: 3rem;
    font-family: MontserratR;
    text-align: center;
}

/* О НАС */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.about-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.services-item {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--black-color);
    padding: 20px;
    border-radius: 15px;
}

.services-title {
    font-size: 1.5rem;
    font-family: MontserratR;
}

.services-text {
    text-align: justify;
    font-size: 1.25rem;
}

/* ГАЛЕРЕЯ */
.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.gallery-works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-works img {
    width: calc(33% - 10px);
    border-radius: 20px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: border-radius 0.3s linear;
    cursor: pointer;
}

.gallery-works img:hover,
.gallery-works img:focus {
    border-radius: 50%;
}

.gallery-loader-text {
    font-size: 1.5rem;
    text-align: center;
}

.gallery-loader {
    display: none;
    width: 100px;
    filter: invert(0.1);
}

.gallery-loader.load {
    display: block;
    animation: load 2s infinite linear;
    animation-delay: 0s !important;
}

@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

/* ПОДПИСКИ */
.price-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.price-item {
    width: calc(33% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: 30px;
    border-radius: 20px;
    gap: 30px;
}

.price-item-title {
    font-size: 2.5rem;
    font-family: MontserratR;
}

.price-item-text {
    text-align: justify;
    font-size: 1.5rem;
}

.price-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
}

.price-item-list li {
    font-size: 1.15rem;
    position: relative;
    padding-left: 30px;
}

.price-item-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../img/price/list.png) no-repeat left / contain;
}

/* ОТЗЫВЫ */
.comments-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.comments-title {
    width: 100%;
}

.comments-left,
.comments-right {
    filter: invert(0.1);
    width: calc(8% - 10px);
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s linear, filter 0.3s linear;
}

.comments-left.disabled,
.comments-right.disabled {
    cursor: default;
    filter: invert(0.27);
}

.comments-left:not(.disabled):hover,
.comments-left:not(.disabled):focus,
.comments-right:not(.disabled):hover,
.comments-right:not(.disabled):focus {
    background-color: var(--white-color);
}

.comments-slider {
    width: 80%;
    overflow: hidden;
}

.comments-content {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: transform 0.75s;
}

.comments-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--black-color);
    padding: 20px;
    border-radius: 20px;
}

.comments-item-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: MontserratR;
}

.comments-item-text {
    text-align: justify;
    font-size: 1.5rem;
}

.comments-item-name {
    font-size: 1.25rem;
}

/* ФОРМА */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.form-label {
    font-family: MontserratR;
    font-size: 2rem;
}

.form-input {
    width: 60%;
    height: 50px;
    padding: 20px;
    border-radius: 20px;
    font-family: MontserratR;
    transition: background-color 0.3s linear, box-shadow 0.3s linear;
}

textarea.form-input {
    height: 200px;
    resize: none;
}

.form-input:hover {
    box-shadow: 0 0 20px var(--blue-color);
}

.form-input:focus {
    color: var(--white-color);
    background-color: var(--black-color);
}

.form-text {
    font-size: 1.25rem;
    text-align: center;
}

/* ФУТЕР */
.footer {
    background-color: var(--black-color);
}

.footer-container {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    gap: 15px;
}

.footer-slogan {
    text-align: justify;
    font-size: 1.25rem;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 1.25rem;
    text-align: center;
}

/* ВЕРСИЯ ДЛЯ НОУТБУКА */
@media (min-width: 769px) AND (max-width: 1440px) {
    /* ОБЩИЕ НАСТРОЙКИ */
    html {
        font-size: 12px;
        --width-content: 92vw !important;
    }

    /* ГАЛЕРЕЯ */
    .gallery-works {
        gap: 10px;
    }

    .gallery-works img {
        width: calc(33% - 5px);
    }

    /* ПОДПИСКИ */
    .price-container {
        justify-content: center;
    }

    .price-item {
        width: calc(50% - 15px);
    }

    .price-item:last-of-type {
        width: 100%;
    }

    .price-item:last-of-type .price-item-list {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .price-item:last-of-type .price-item-list li {
        width: calc(33% - 15px);
    }

    /* ОТЗЫВЫ */
    .comments-left,
    .comments-right {
        width: calc(10% - 20px);
    }
}

/* ВЕРСИЯ ДЛЯ ПЛАНШЕТА */
@media (min-width: 481px) AND (max-width: 768px) {
    /* ОБЩИЕ НАСТРОЙКИ */
    html {
        font-size: 12px;
        --width-content: 94vw !important;
    }

    /* ШАПКА */
    .header-desktop {
        display: none;
    }

    .header-mobile-burger {
        display: flex;
    }

    /* О НАС */
    .about-services {
        gap: 10px;
    }

    .services-item {
        width: calc(50% - 5px);
    }

    /* ГАЛЕРЕЯ */
    .gallery-works {
        gap: 10px;
    }

    .gallery-works img {
        width: calc(50% - 5px);
    }

    /* ПОДПИСКИ */
    .price-container {
        justify-content: center;
    }

    .price-item {
        width: 100%;
        padding: 20px;
    }

    .price-item-list {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .price-item-list li {
        width: calc(50% - 10px);
    }

    /* ОТЗЫВЫ */
    .comments-container {
        justify-content: center;
    }

    .comments-slider {
        order: 0;
        width: 100%;
    }

    .comments-left,
    .comments-right {
        order: 1;
        width: 12%;
    }

    /* ФОРМА */
    .form-input {
        width: 95%;
    }

    /* ФУТЕР */
    .footer-container {
        padding: 20px 0;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .footer-links .link {
        width: 50%;
    }
}

/* ВЕРСИЯ ДЛЯ ТЕЛЕФОНА */
@media (max-width: 480px) {
    /* ОБЩИЕ НАСТРОЙКИ */
    html {
        font-size: 10px;
        --width-content: 94vw !important;
    }

    /* ШАПКА */
    .header-desktop {
        display: none;
    }

    .header-mobile-burger {
        display: flex;
    }

    /* О НАС */
    .about-services {
        gap: 10px;
    }

    .services-item {
        width: 100%;
    }

    /* ГАЛЕРЕЯ */
    .gallery-works {
        gap: 15px;
    }

    .gallery-works img {
        width: 100%;
    }

    /* ПОДПИСКИ */
    .price-container {
        justify-content: center;
    }

    .price-item {
        width: 100%;
        padding: 15px;
    }

    .price-item-title {
        text-align: center;
    }

    .price-item-list {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .price-item-list li {
        width: calc(50% - 10px);
    }

    /* ОТЗЫВЫ */
    .comments-container {
        justify-content: center;
    }

    .comments-slider {
        order: 0;
        width: 100%;
    }

    .comments-left,
    .comments-right {
        order: 1;
        width: 20%;
    }

    /* ФОРМА */
    .form-input {
        width: 95%;
    }

    /* ФУТЕР */
    .footer-container {
        padding: 20px 0;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
    }
}